@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 241 0% 95%;
    --foreground: 241 0% 10%;
    --card: 241 0% 94%;
    --card-foreground: 241 0% 15%;
    --popover: 241 0% 95%;
    --popover-foreground: 241 95% 10%;
    --primary: 223 97% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 241 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 203 10% 94%;
    --muted-foreground: 241 0% 40%;
    --accent: 203 10% 90%;
    --accent-foreground: 241 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 241 0% 94%;
    --border: 223 30% 82%;
    --input: 223 30% 50%;
    --ring: 223 97% 57%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 241 10% 0%;
    --foreground: 241 0% 94%;
    --card: 241 0% 8%;
    --card-foreground: 241 0% 94%;
    --popover: 241 10% 5%;
    --popover-foreground: 241 0% 94%;
    --primary: 223 97% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 241 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 203 10% 25%;
    --muted-foreground: 241 0% 65%;
    --accent: 203 10% 10%;
    --accent-foreground: 241 0% 94%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 241 0% 94%;
    --border: 223 30% 50%;
    --input: 223 30% 50%;
    --ring: 223 97% 57%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  @apply text-[14px];
}

@media (max-width: 640px) {
  .container {
    @apply px-[10px];
  }
}

@media (max-width: 280px) {
  .container {
    @apply min-w-[280px] overflow-auto;
  }
}
