
.now.playing .bar {
  display: inline-block;
  position: relative;
  margin-right: 1px;
  width: 3px;
  height: 1px;
  overflow: hidden;
  background: linear-gradient(to bottom, #03fa5d, #16a34a);
  color: transparent;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.n1 {
  animation-delay: 0.5s;
}
.n2 {
  animation-delay: 0.2s;
}
.n3 {
  animation-delay: 1.2s;
}
.n4 {
  animation-delay: 0.9s;
}
.n5 {
  animation-delay: 2.3s;
}
.n6 {
  animation-delay: 1.3s;
}
.n7 {
  animation-delay: 3.1s;
}
.n8 {
  animation-delay: 1.9s;
}
@keyframes pulse {
  0% {
    height: 1px;
    margin-top: 0;
  }
  10% {
    height: 10px;
    margin-top: -40px;
  }
  50% {
    height: 5px;
    margin-top: -20px;
  }
  60% {
    height: 15px;
    margin-top: -30px;
  }
  80% {
    height: 25px;
    margin-top: -60px;
  }
  100% {
    height: 1px;
    margin-top: 0;
  }
}

